<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Isbn</th>
        <th>No pages</th>
        <th>Price</th>
        <th>Language</th>
    </tr>
    </thead>
    <tbody>
        {#for book in books}
        <tr>
            <th>{book.id}</th>
            <th>{book.title}</th>
            <th>{book.isbn}</th>
            <th>{book.nbOfPages}</th>
            <th>{book.price}</th>
            <th>{book.language}</th>
        </tr>
        {/for}
    </tbody>
</table>
</body>
</html>